body{
    background-color: #D6F5FF;
    background-image: url("../images/website_background.jpg");
    background-position: bottom center; /* Aligns the bottom of the image with the bottom of the page */
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* min-width: 625px; */
    min-width: 1000px;
}

header {
    background: #BB3030;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: fixed;
}

.body-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    min-width: 625px;
    max-width: 1500px;
    margin-top: 5rem;
}

/* #my-logo{
    font-family: 'Inter', 'sans-serif';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

.nav-link{
    color: #F2EDED;
    font-family: "Shrikhand", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-link:hover{
    color: #153B50;
}


footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: #153B50;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.footer-box:hover {
    font-weight: bold;
}

.footer-box svg {
    margin-bottom: 0; /* Ensure the icon and text are aligned horizontally */
}

.footer-box span {
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: black;
}

.projects-box{
    border-radius: 10px;
    background: #B6CCD8;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.projects-list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h1{
    color: #153B50;
    font-family: 'Inter', 'sans-serif';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2{
    color: #153B50;
    font-family: 'Shrikhand', 'serif';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3{
    color: #000;
    font-family: 'Inter', 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.project-pic{
    height: 400px;
    width: 600px;
}

.fis-calculator{
    display: flex;
    gap: 1.5rem;
}

a {
    color: #000000;
}

@media (max-width: 950px){
    .fis-calculator{
        flex-direction: column;
    }
}

@media (max-width: 768px){
    .mb-3{
        margin-bottom: 0!important;
    }
}